<!--@slideshow slide-->
# Introduction to Python

* Python is an interpreted script language
* Python programs are a sequence of expressions
* Variable assignments, function calls, mathematical / logical operations
* Definition of functions or classes
* Control structures (`if`, `for`, ...)
* comments (initialized by `#`)

In [2]:
a = 42
b = 21
c = a + b
d = max(a,b) #function call
xs = [0, 1, 2, 3] #defining a list with four entries

In [4]:
b

21

### Python is a dynamically typed language
* Variables are typed
* The type is determined at runtime
* The type is not explicitly set by the user
* The function `type(x)` allows us to query the type of object `x`

In [8]:
a = 42
print(type(a))

<class 'int'>

In [6]:
a = 42.0
print(type(a))

<class 'float'>

In [10]:
c = 42 / a
print(type(c))

<class 'float'>

In [11]:
xs = [a, b]
print(type(xs))

<class 'list'>

<!--@slideshow slide-->
### Common data types in python

|Data type| Description|
|--------|---------|
| `str` | textual data |
| `int` | integer values |
| `float` | decimal values |
| `dict` | dictionary |
| `set` | sets |
| `bool` | logical values |

<!--@slideshow slide-->
## Python operators

### Arithmethic operators

|operator| Description|
|--------|---------|
| `+` | plus |
| `-` | minus |
| `*` | multiplication |
| `/` | float division |
| `%` | modulus |
| `//` | integer division |
| `**` | power |

In [15]:
a = 3.0
b = 4.0
c = (a**2 + b**2) ** 0.5
print(c)
print(a)

5.0
3.0

In [16]:
print(8 % 3)
print(8 / 3)
print(8 // 3)

2
2.6666666666666665
2

<!--@slideshow slide-->
### Relational / membership operators

|operator| Description|
|--------|---------|
| `>` | greater |
| `<` | smaller |
| `==` | equal |
| `!=` | unequal |
| `>=` | greater equal |
| `<=` | smaller equal |
| `in` | present in list |

In [20]:
print(1 < 3)

True

In [21]:
print(3.0 >= 4.0)

False

In [22]:
print(1.0 in [1.0,2,3])

True

In [25]:
print(1 in [1.0,2,3])

True

In [26]:
print(1.0 in [1,2,3])

True

In [27]:
print("1.0" in [1,2,3])

False

<!--@slideshow slide-->
### Logical operators

Logical operators are used to combine multiple relational operators.

|operator| Description|
|--------|---------|
| `and` | both statements need to be `true` for the composite to be `true` |
| `not` | the statement is negated |
| `or` | at least one statement needs to be `true` for the composite to be `true` |

In [29]:
a = 6.0
print(a > 2.0 and a < 5.0)

False

In [31]:
a = 3.0
print(a > 2.0 and not a < 5.0)

False

In [34]:
a = 15.0
print(a > 2.0 or a < 5.0)

True

<!--@slideshow slide-->
## Python Data Types
### Python Lists

* Lists are a data structure for storing multiple values in an ordered manner
* Lists can hold different data types
* Lists are 0-indexed, i.e., the first item is 0, the second item is 1, etc.

In [1]:
xs = ['a', 'b', 'c', 'd']
print(xs)

['a', 'b', 'c', 'd']

In [2]:
xs[0]

'a'

<!--@slideshow slide-->
#### List accessing and slicing

How to select values from a list?

* accessing a single item

In [15]:
xs = [1,2,3,4,5,6]
a = xs[3]
print(a)

4

* accessing a part of a list (slicing)

In [4]:
xxs = xs[0:4]
print(xxs)

[1, 2, 3, 4]

<!--@slideshow slide-->
#### List functions

|operator| Description|
|--------|---------|
| `len(xs)` | length of list xs (number of items) |
| `xs.append(...)` | append argument to list |
| `xs.index(...)` | returns index of argument value |
| `xs.remove(...)` | removes first occurence of argument from list |
| `xs.sort()` | sorts the lists |
| `xs.reverse()` | reverses order of list |
| `xs * n` | repeat list n times |

In [18]:
xs.reverse()
foo = xs

<!--@slideshow slide-->
* The `map()` function applies the given function to each element of the iterable (such as a list) and returns an iterator with the results which can then be turned into a list again using `list(...)`.

In [23]:
numbers = [1.6, 2.2, 3.6, 4.4, 5.5]
rounded = list(map(round, numbers))

**Familiarize yourself with lists by trying out these functions on own lists**

<!--@slideshow slide-->
#### Operations on multiple lists

* Concatenation: You can combine two lists using the + operator. It creates a new list that contains all the elements from both lists in the order they appear.

In [24]:
xs = [1, 2, 3, 4]
ys = [4, 5, 6, 7]

print(xs + ys)

[1, 2, 3, 4, 4, 5, 6, 7]

<!--@slideshow slide-->

* Comparison: You can compare two lists using the comparison operators (`==`, `!=`, `<`, `>`, `<=`, `>=`). The comparison is performed element-wise, comparing corresponding elements of the lists lexicographically.

In [25]:
print([6,4,3] > [5,3,2])

True

In [26]:
print([5,4,3] > [5,3,2])

True

In [27]:
print([5,5,5] > [5,5,5])

False

In [28]:
print([5,3,3] > [5,3,4])

False

In [29]:
print([5,3,5] > [5,3,4,0])

True

In [30]:
print([9] > [8,9])

True

<!--@slideshow slide-->

* Element-wise Operations: You can perform element-wise operations between two lists using list comprehension or other techniques. This allows you to apply operations like addition, subtraction, multiplication, or any custom operation to corresponding elements of the lists.

In [32]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
result = [x + y for x, y in zip(list1, list2)]
print(result)  # Output: [5, 7, 9]
print(list1+list2)

[5, 7, 9]
[1, 2, 3, 4, 5, 6]

<!--@slideshow slide-->

* Zipping lists: The zip function connects lists/sequences

In [35]:
xs = [1, 2, 3]
ys = ["a", "b", "c"]
print(list(zip(xs, ys)))

[(1, 'a'), (2, 'b'), (3, 'c')]

<!--@slideshow slide-->

* Intersection and Union: You can find the intersection (common elements) or union (all unique elements) of two lists using set operations.

In [39]:
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
intersection = list(set(list1) & set(list2))
union = list(set(list1) | set(list2))
print(intersection)  # Output: [3, 4]
print(union)  # Output: [1, 2, 3, 4, 5, 6]

[3, 4]
[1, 2, 3, 4, 5, 6]

<!--@slideshow slide-->

* To obtain the Cartesian product of two or more lists in Python, you can use the `itertools.product()` function. This function generates all possible combinations of elements from the input iterables.

In [42]:
import itertools

list1 = [1, 2]
list2 = ['a', 'b', 'c']

cartesian_product = list(itertools.product(list1, list2))
print(cartesian_product)

[(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c')]

<!--@slideshow slide-->

### Sequences using Python Ranges

Python offers the `range` type for sequences of integers:
* `range(start, stop, step)`
* start is the first value, stop-1 the highest possible value, step is the stepsize
* calling `range` with only one argument assumes start = 0 and step = 1
* calling `range` with two arguments assumes step = 1

In [43]:
seq1 = range(4) # 0, 1, 2, 3

print(seq1) #iterator!
print(list(seq1))

range(0, 4)
[0, 1, 2, 3]

In [45]:
seq2 = range(1,4) # 1, 2, 3
print(list(seq2))

[1, 2, 3]

In [47]:
seq3 = range(1,9,3) # 1, 4, 7
print(list(seq3))

[1, 4, 7]

<!--@slideshow slide-->

### Strings

* Python provides the `str` data type for character strings
* Objects of type `str` are similar to lists:

In [57]:
my_string = "hello, world!"
print(my_string[0:4])
print(len(my_string))
print("wrold" in my_string)
print("world" in my_string)
print("ld!" in my_string)

hell
13
False
True
True

* `str` offers some helpful dedicated functions
* `str` objects are immutable
* functions like `.replace(..)` return a new string!

In [53]:
my_list = [1,2,3]
my_list.remove(2)

In [54]:
my_list

[1, 3]

In [58]:
my_string = my_string.capitalize()
print(my_string)
print(my_string.islower())

'Hello, world!'

In [60]:
my_string = my_string.replace('world', 'Mars')

print(my_string)

hello, Mars!

The number of occurences of a certain substring can be determined using `.count(substring)`

In [61]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

<!--@slideshow slide-->

### Python Tuples

A `tuple` combines multiple items in an ordered fashion

* Tuples can hold arbitrary data types
* Tuples are immutable, i.e., they cannot be modified after creation
* Tuples have a fixed length
* Loosely speaking, they behave like read-only lists. However, their inteded usage also covers groups of values which must stay together over the runtime.

<!--@slideshow slide-->
#### A Cardgame example

In [ ]:
colors = ("H","S","C","D")
ranks = list(range(2,11)) + ["J","Q","K","A"]
print(ranks)

deck = list(itertools.product(colors, ranks))
print(deck)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 'J', 'Q', 'K', 'A']
[('H', 2), ('H', 3), ('H', 4), ('H', 5), ('H', 6), ('H', 7), ('H', 8), ('H', 9), ('H', 10), ('H', 'J'), ('H', 'Q'), ('H', 'K'), ('H', 'A'), ('S', 2), ('S', 3), ('S', 4), ('S', 5), ('S', 6), ('S', 7), ('S', 8), ('S', 9), ('S', 10), ('S', 'J'), ('S', 'Q'), ('S', 'K'), ('S', 'A'), ('C', 2), ('C', 3), ('C', 4), ('C', 5), ('C', 6), ('C', 7), ('C', 8), ('C', 9), ('C', 10), ('C', 'J'), ('C', 'Q'), ('C', 'K'), ('C', 'A'), ('D', 2), ('D', 3), ('D', 4), ('D', 5), ('D', 6), ('D', 7), ('D', 8), ('D', 9), ('D', 10), ('D', 'J'), ('D', 'Q'), ('D', 'K'), ('D', 'A')]

Question:
Using `import random`, `random.shuffle(deck)` you can shuffle our deck. How would you deal cards to players using slicing?

<!--@slideshow slide-->
### Python dictionaries

`dict` is an essential data type in Python implementing a look-up functionality
* Objects (Values) are stored with identifiers (keys)
 * We refer to these combinations as key-value pairs
* They allow looking up values in a minimal database using `dictionary["key"]` or `dictionary.get("key")`
 * The latter approach is safer as it will return `None` if a value is not found in the `dict`

In [63]:
myFirstDictionary = { "firstname": "John", "lastname": "Doe" }

In [64]:
myFirstDictionary["firstname"]

'John'

In [65]:
myFirstDictionary.get("firstname")

'John'

In [67]:
# throws an error if key is not populated
print(myFirstDictionary["address"])

KeyError: 'address'

In [68]:
# safe approach:
print(myFirstDictionary.get("address"))

None

<!--@slideshow slide-->

Using dictionaries of dictionaries we can create fairly complicated lookup settings:

In [69]:
persons = {"1" : {"firstname": "Chris", "lastname" : "Flath"}, "2" : {"firstname" : "Niko", "lastname" : "Stein"}}

In [70]:
persons["1"]

{'firstname': 'Chris', 'lastname': 'Flath'}

In [71]:
persons["2"]["lastname"]

'Stein'

In [72]:
persons["3"]

KeyError: '3'

In [73]:
persons.get("4")

<!--@slideshow slide-->

## Control Structures


Python uses indentations to structure code avoiding additional parentheses
- Consecutive lines with depth form block
- In the Python environment, blocks are called suites
- Python provides control structures for program flow


### Conditional statements with `if`, `else`, `elif` or `switch`

In [80]:
x = 150
if x > 100:
  print("x greater than 100")
elif x >= 30:
  print("x greater equal 30")
else:
  print("x is less than 30")

x greater than 100

<!--@slideshow slide-->

### Loops with `for` or `while`

Loops execute code blocks multiple times

<!--@slideshow slide-->

* `for` loop is used on iterable elements (lists, sequences)

In [81]:
xs = [1, 2, 3, 4]
for x in xs:
  print(x)

1
2
3
4

In [82]:
my_dict = {"a" : 5, "b" : 10, "c" : 15}

In [87]:
my_dict.keys()

dict_keys(['a', 'b', 'c'])

In [88]:
for i in my_dict:
    print(my_dict[i])

5
10
15

* `while` loop checks for a condition

In [92]:
i = 0
xs = []
while i < 10:
  xs.append(i)
  i = i + 1
print(xs)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

<!--@slideshow slide-->

## List Comprehension

Control structures enable list comprehension in Python
- Mathematically, sets can be defined compactly,
e.g., a set of square numbers $\{x^2 | x \in {1,2,...n}\}$

In [95]:
n=15
[x**2 for x in range(1, n+1)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225]

* List comprehension can be combined with conditional statements
 * for example, only select even numbers:

In [ ]:
xs = list(range(1,6))
[x for x in xs if x% 2 == 0]

[2, 4]

<!--@slideshow slide-->

## Functions
### Regular functions are defined using `def`
* They consist of a name, optional arguments and the code block
* The code can be complemented by description (`docstring`)
 * Example 1: $f(x) := x^3 + 5x^2 + 27$
 * Example 2: $g(x) := |x|$

In [96]:
def f(x):
  """
  This is my cool function.
  """
  value = x**3 + 5*x**2 + 27
  return value

In [98]:
f(0)

27

In [ ]:
f(5)

277

In [106]:
def g(x):
  """
  Function returns the absolute value of the argument.
  """
  if(x>=0):
    return(x)
  else:
    return(-x)

In [105]:
g(0)

0

<!--@slideshow slide-->

* Functions arguments can be set to default values:

In [116]:
def greet(name = "World", caller = "Pluto"):
  """
  Say hello to argument, if none is provided say hello world
  """
  print( "Hello, " + name + "! This is " + caller)

greet()
greet("Python")
greet(name="Python", caller="Java")

Hello, World! This is Pluto
Hello, Python! This is Pluto
Hello, Python! This is Java

<!--@slideshow slide-->

### Helper functions using lambda
* Often we need a small helper function for a localized task
* Lambda functions offer the capabilities of regular functions without any memory or management overhead
* Particularly popular in combination with list comprehension or filtering

In [3]:
def squareValue(x):
    return(x**2)

print(squareValue(5))

xs = [5, 3, 2, 1]

list(map(lambda x : x**2, xs))

25

[25, 9, 4, 1]

<!--@slideshow slide-->

* The filter function selects elements from sequences

In [4]:
jobs = ["programmer", "data scientist", "data engineer",
"data analyst", "developer", "software engineer"]
print(list(filter( lambda job : "data" in job, jobs )))
print(list(filter( lambda job : "engineer" in job, jobs )))

['data scientist', 'data engineer', 'data analyst']
['data engineer', 'software engineer']